@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/*  Table of contents:

    1. Global styles
    2. Typography
    3. Layout
        3.1 Header
        3.2 Section
        3.3 Article
        3.4 Form
        3.5 Table
        3.6 Summary
        3.7 Footer
        3.8 Picture
        3.9 Break line
        3.10 Misc. Positions
    4. Components
        4.1 Nav-bar
        4.2 Grid
        4.3 Switch
        4.4 Slider
        4.5 CTA
        4.6 To top button
        4.7 Fancy radio btns
        4.8 Icons
    5. Media quries
*/

/*  
    ================
    1. Global styles
    ================
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 113%; /*18px*/
  line-height: 1.75;
  color: hsl(232, 10%, 55%);
  width: 100%;
  margin: 0 auto;
}

/*  
    ==============
    2. Typography
    ==============
*/

/* ----- Font size is "Major Third" from https://type-scale.com/ -----  */

p {
  padding-bottom: 1rem;
  max-width: 70ch;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
  font-family: 'Fraunces', serif;
  padding-bottom: 1rem;
  color: hsl(212, 27%, 19%);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: 900;
  padding-bottom: 0rem;
}

h2 {
  font-size: 2.441rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

h3 {font-size: 1.953rem;}

h4 {
  font-size: 1.563rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.small-text {
  font-size: 0.889rem;
}

.large-text {
  font-size: 1.333rem;
}

.semi-bold {
  font-weight: 700;
}

.bold, b {
  font-weight: 900;
}

a {
  font-weight: 700;
  text-decoration: underline;
  color: inherit;
}

/* ----- 2.1 Colors ----- */

.dark-cyan {
  color: hsl(167, 40%, 24%);
}

.dark-blue {
  color: hsl(198, 62%, 26%);
}

.gray {
  color: hsl(210, 4%, 67%);
}
/*  
    =============
    3. Layout
    =============
*/

/* ----- 3.1 Header ----- */

header {
  /* position: relative; */
  text-align: center;
  /* height: calc(100vh - 90px); */
  overflow: hidden;
  background-color: hsl(200,100%,62%);
}

.header-title {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 2;
}

.header-arrow {
  position: absolute;
  top: 40%;
  left: 48%;
  z-index: 2;
}

.header-image {
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 0; */
  width: 100%;
  z-index: 1;
}

/* ----- 3.7 Footer  ----- */

footer {
  background-color: hsl(167, 44%, 70%);
}

footer nav{
  background-color: inherit;
  justify-content: center;
  color: hsl(168, 34%, 41%);
}

footer nav a{
  transition: all ease-in 0.2s;
}

footer nav a:hover{
  color: hsl(0, 0%, 100%);
}

/* ----- 3.8 Picture  ----- */

picture img{
  width: 100%;
  height: 100%;
  display: block;
}

/* ----- 3.10 Misc. Positions ----- */

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.between-flex {
  display: flex;
  justify-content: space-between;
}

.end-flex {
  justify-content: flex-end;
}

.wrap-flex {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.gap-flex {
  gap: var(--spacing-m);
}

.gap-flex-s {
  gap: var(--spacing-s);
}

.gap-flex-l {
  gap: var(--spacing-l);
}

.row-reverse-flex {
  flex-direction: row-reverse;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.wide {
  width: 100%;
}

.thin {
  max-width: 48%;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

/*  
    =============
    Components
    =============
*/

/* ----- 4.1 Nav-bar ----- */

nav {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: hsl(200,100%,62%);
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-flex;
  justify-content: space-evenly;
  padding: var(--spacing-xs);
}

nav a {
  font-weight: 400;
  text-decoration: none;
  color: var(--color-neutral-white);
  border-radius: var(--border-radius);
}

.nav-btn {
  cursor: default;
  pointer-events: none;
  display: none;
  width: 2rem;
  height: 2rem;
}

.nav-logo {
  padding: var(--spacing-xs);
  padding-left: var(--spacing-m);
  height: 1.7em;
}

#nav-links {
  margin: 0;
}

/* ----- 4.2 Grid ----- */

.grid-main {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

.grid-item article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing-xl);
}

.rev picture{
  grid-column: 1;
}

.rev article{
  grid-column: 2;
}

.single {
  position: relative;
  display: flex;
  justify-content: center;
}

.single article{
  position: absolute;
  width: 60%;
  top: 60%;
  padding: 0;
}

.single picture{
  width: 100%;
}

/* ----- 4.3 Grid Gallery ----- */

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* ----- 4.5 CTA ----- */

.cta {
  font-weight: 700;
  font-family: 'Fraunces', serif;
  color: inherit;
  padding: var(--spacing-xs) var(--spacing-m) ;
  border-radius: var(--border-radius);
  text-decoration: none;
  margin: var(--spacing-s);
  border: none;
  background-color: var(--color-neutral-white);
  transition: all ease-in 0.2s;
}

.cta:hover {
  background-color: rgb(114,206,255);
  color: var(--color-neutral-white);
}

.learn-more {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: hsl(212, 27%, 19%);
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  position: relative;
}

.learn-more::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 0.2em;
  width: 110%;
  height: 0.5em;
  background-color: hsl(51, 100%, 49%);
  border-radius: var(--border-radius);
  z-index: -1;
  opacity: 0.3;
  transition: all ease-in 0.2s;
}

.learn-more:hover::after {
  opacity: 1;
}

.red.learn-more::after {
  background-color: hsl(7, 99%, 70%);
}

/* ----- 4.8 testimonials ----- */

.testimonial {
  max-width: 100%;
}

.testimonial img {
  width: 25%;
  padding: var(--spacing-m);
  border-radius: 50%;
}

.test-container {
}

/* ----- 4.8 Icons ----- */

.icon {
  width: 2rem;
  height: 2rem;
  align-items: center;
}

.icon-small {
  width: 1rem;
  height: 1rem;
  align-items: center;
}

.icon-large {
  width: 4rem;
  height: 4rem;
  align-items: center;
}

.icon img, .icon-small img {
  width: 100%;
  height: 100%;
}

.icon-dark-cyan {
  filter: brightness(0) saturate(100%)invert(28%) sepia(10%) saturate(2008%) hue-rotate(116deg) brightness(93%) contrast(88%);
  padding: 0.2em;
  transition: all ease-in 0.2s;
}

a .icon-dark-cyan:hover {
  filter: brightness(0) saturate(100%)invert(100%) sepia(0%) saturate(4674%) hue-rotate(68deg) brightness(110%) contrast(102%);
}

.round-border {
  border-radius: 100%;
  border: solid 1px var(--color-dark);
  padding: 1rem;
  line-height: 1rem;
}

/*  
    ===============
    5. Media quries
    ===============
*/

@media screen and (max-width: 1150px) {
  .single article{
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .grid-item {
    grid-template-columns: 1fr;
  }
  .grid-item article {
    text-align: center;
    align-items: center;
  }
  .rev article{
    grid-column: 1;
  }
  .test-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 770px) {
  nav {
    /* align-items: flex-start; */
  }
  .nav-btn {
    display: block;
    cursor: pointer;
    pointer-events: all;
  }
  #nav-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-neutral-white);
    height: calc(100vh - (2 * var(--spacing-l)));
    margin-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
  }
  nav li {
    display: flex;
  }
  .grid-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  header {
    /* height: calc(100vh - 46px); */
  }
  .header-arrow {
    top: 60%;
  }
}

@media screen and (max-width: 600px) {
  .single article{
    width: 90%;
  }
}